body {
  font-family: "Courier New", Courier, monospace;
}

.rc-div-dark-grey {
  color: #fff;
  background-color: #4b4b4b;
}

.rc-div-grey {
  color: #fff;
  background-color: #808080;
}

.rc-div-light-grey {
  color: #fff;
  background-color: #bfbfbf;
}

.rc-top-left {
  text-align: left;
  vertical-align: top;
}

.rc-span-dark-grey {
  color: #fff;
  background-color: #4b4b4b;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-bottom: 16px;
}

.rc-footer-black {
  color: white;
  background-color: black;
}

.rc-icon {
  padding-right: 10px;
}

.rc-paragraph {
  text-align: justify;
  text-indent: 50px;
}
