body {
  font-family: "Courier New", Courier, monospace;
}

.rc-div-dark-grey {
  color: #fff;
  background-color: #4b4b4b;
}

.rc-div-grey {
  color: #fff;
  background-color: #808080;
}

.rc-footer {
  color: #fff;
  background-color: #bfbfbf;
}

.rc-icon {
  padding:10px;
}

.rc-paragraph {
  text-align:justify;
  text-indent: 50px;
}
